* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {

    outline: 1px solid red;

    padding: 1rem;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
}

.bento-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 350px;
    margin: auto;
    grid-auto-rows: minmax(120px, auto); /* minimum height for each grid to prevent collapse*/

}

.box-1 {
    background-color: hsl(256, 67%, 59%);
    grid-row: 1 / 3;
    padding: 2rem;
    border-radius: 1rem;
}

.box-1 > .top-text {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-text-number {
    color: hsl(39, 100%, 71%);
    font-size: 3rem;
}

.box-1 .fast {
    font-style: italic;
    font-size: 3rem;
}

.box-1 .stars {
    color: hsl(39, 100%, 71%);
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.box-1 > .bottom-text {
    color: hsl(31, 66%, 93%);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.box-2 {
  background-color: hsl(40, 60%, 96%);
  border-radius: 1rem;
  padding: 1rem 0.1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 7%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.socials {
    display: flex;
    gap: 0.3rem;
    font-size: 11.5px;
    
}

.socials-insta, .socials-x {
    max-width: 100%;
    padding: 0.6rem 1rem;
}

.socials-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.socials-insta {
    background-color: hsl(0, 0%, 100%);
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    
}

.insta-icon {
    background-color: hsl(39, 100%, 71%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(256, 67%, 59%);
}

.x-icon {
    background-color: hsl(39, 100%, 71%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(256, 67%, 59%);
}

.socials-x {
    background-color: hsl(0, 0%, 100%);
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.box-2 > p {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4rem;
    
    
}

.box-3 {
    background-color: hsl(39, 100%, 71%);
    padding: 2.5rem 1rem 11.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
}

.box-3 > p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding-right: 1.5rem;
}

.box-3 > img {
    width: 100%;
    max-width: 70%;
    height: auto;
    position: absolute;
    top: 6.4rem;
    mask-image: linear-gradient(
  to top,
  transparent 0%,
  transparent 10%,
  black 14%,
  black 100%
);

}

.box-4 {
    background-color: hsl(254, 88%, 90%);
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.box-4 .top-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.box-4 > img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.box-4  .bottom-text {
    text-align: center;
    font-size: 1.3rem;
}

.box-5 {
    background-color: hsl(256, 67%, 59%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    
}

.box-5 > img {
    width: 70%;
    max-width: 70%;
    height: auto;
}

.box-5 .bottom-text {
    color: hsl(40, 60%, 96%);
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
}

.box-6 {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1.2rem;


    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.05);
}

.box-6 .top-text {
    font-size: 3rem;
    font-weight: 500;
}

.box-6 .mid-text {
    font-size: 1.2rem;
    font-weight: 300;
}

.box-6 > img {
    width: 60%;
    max-width: 60%;
    height: auto;
    
}

.box-7 {
    background-color: hsl(31, 66%, 93%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1rem 1.5rem 2rem;
}

.box-7 .top-text {
    font-size: 1.7rem;
    font-weight: 600;
}

.box-7 .colored-text {
    color: hsl(256, 67%, 59%);
    font-style: italic;
}

.box-7 >img {
    width: 60%;
    max-width: 60%;
    height: auto;
}


.box-8 {
    background-color: hsl(39, 100%, 71%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
}

.box-8 .top-text {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.box-8 > img {
    width: 80%;
    max-width: 80%;
}

.attribution {
    padding: 1rem;
}
@media (max-width: 375px) {
    .insta-icon, 
    .x-icon {
        width: 48px;
        height: 48px;
    }
}
@media (min-width: 768px) {
  .bento-grid {
    grid-template-columns: repeat(2, 1fr);
    
  }

  .box {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (min-width:1020px) {
    .bento-grid {
        display: grid;
        gap: 1.3rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 120px;
        grid-auto-columns: 80px;
        max-width: 1200px;
        margin-inline: auto;
          
    }

.box-7 {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    padding: 2.5em 1rem 0;
    gap: 0.5rem;
    
}

.box-7 .top-text {
    line-height: 1.8rem;
    font-size: 2rem;
    font-weight: 550;
    padding: 1rem 0.5rem 0.2rem;
    text-align: center;
}
.box-7 > img {
    width: 90%;
    max-width: 100%;
    padding-top: 0.5rem;
    align-self: center;
}
.box-1 {
    grid-column: 2/4;
    grid-row: 1/3;
    padding: 2rem 0.8rem 2rem;
    gap: 0.5rem;
}

.box-1 > .top-text {
    font-weight: 500;
    font-size: 3.2rem;
    display:block;
    text-align: center;
    line-height: 2.7rem;
    
   }

   .box-1 .stars {
    padding: 1rem;
    font-size: 1.2rem;
   }

   .box-1 .bottom-text {
    font-size: 1rem;
    padding: 0;
   }

.box-4 {
    grid-template-columns: 4/5;
    grid-row: 1/5;
    padding: 0.5em 1.5em 1.5em;
    align-self: first baseline;
    position: relative;
    overflow: hidden;
    
}

.box-4 > .top-text {
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    text-align:start;
    font-size: 1.5rem;
}

.box-4 > img {
    position: absolute;
    max-width: 95%;
    height: auto;
    left: 5rem;
    mask-image: linear-gradient(to left, transparent, black 61%);
    transform: scale(1.6, 1.5);
    -webkit-transform: scale(1.6, 1.5);
    -moz-transform: scale(1.6, 1.5);
    -ms-transform: scale(1.6, 1.5);
    -o-transform: scale(1.6, 1.5);
    padding-left: 0.5rem;
}

.box-4 .bottom-text {
    padding-top: 14rem;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 300;
}

.box-8 {
    grid-column: 1/2;
    grid-row: 4/7;
}


.box-8 > img {
    width: 100%;
    transform: scale(1.4, 1.4);
    margin-top: 5rem;
    align-self: center;
}

 .box-2 {
    grid-column: 2/3;
    grid-row: 3/5;
    position: relative;
    overflow: hidden;
 }   
 .box-2 .socials-x {
    position: absolute;
    left: 12rem;

 }

 .box-2  .x-icon {
    font-size: 1.8rem;
   
 }
.box-2 > p {
    font-size: 1.5rem;
    line-height: 2.1rem

}

 .box-3 {
    grid-column: 3/4;
    grid-row: 3/5;
    position: relative;
    overflow: hidden;
    padding-top: 1.5rem;
 }

 .box-3 > p {
    font-size: 2rem;
    line-height: 1.7rem;
    font-weight: 600;
 }

 .box-3 > img {
    position: absolute;
    top: 11.5rem;
    left: 2rem;
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}

 .box-6 {
    grid-column: 2/3;
    grid-row: 5/7;
    padding: 2rem 1.5rem 0;
 }

 .box-6 .mid-text {
    font-size: 1rem;
 }

 .box-5 {
    grid-column: 3/5;
    grid-row: 5/7;
    flex-direction: row;
    gap: 0.5rem;
 }

 .box-5 > img {
    width: 50%;
 }
}